/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2015, 7:13:30 AM
    Author     : DABBY(3pleMinds)
*/


 @page {size: 8.5in 11in; margin:.5cm .5cm .5cm .5cm; background-color:  #d3d3d3;}
  @page:left {margin-left: 2cm; margin-right: 1.5cm}
  @page:first {margin-top: 5cm}
  h1 {page-break-before: always}
  p {page-break-inside: auto;
       orphans: 2;}

  //code for invoice printin
/*  
  #slider2_container, #sliderPanel, #slider {
    display: none;
  }*/
.jqm-header{display:none;}
 .nowrap {
    white-space: nowrap;
}
.ui-footer{
display: none;}


.hide {
    display: none;
}
#preformer_add_row_button{
display: none;
}



img {
    border: 0;
}

.reporttable{
    border: .1em solid #000;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
			border-collapse:collapse;
			width: 100%; font-size: 14px;
}

.reporttable th {
				font-size:14px;
				text-align:center;
				padding:1px;
				border: .1em solid #000;
				border-collapse:collapse;
				background: #5ba1cf;
				color:black;
}
.reporttable td {
				font-size:12px; font-weight: bold;
				text-align:center;
				padding:1px;
				border: .1em solid #000;
				border-collapse:collapse;
}
.reporttable .even
				{
				background-color: #d3d3d3;
				color:black;
				height:15px;
				}
.reporttable .odd
				{
				background-color: #d1edff;
				color:black;
				height:15px;
				
				}
.reporttable .last_row{background-color: #d1edff;
				color:black;}
.jqm-block-content h3 {
	font-size: 1.5em;
	font-weight: 300;
	color: #3eb249;
	border-bottom: 1px solid #ddd;
	padding-bottom: .25em;
	margin: 0 0 .5em;
}//try color #EEE

td.no_print,th.no_print{display: none;}
.report_button{margin-right: 14px;}
.center{text-align: center;}

#invoice_header { height:25px; display: block;
	 width: 100%;color: #111; background: #eee; text-align: center;
	 font: bolder 16px Helvetica,Sans-Serif; text-transform: uppercase;
	  letter-spacing: 10px; padding: 5px 0px; margin-top: -5px;
	}

#address { text-align:justify; 
	   width: 500px; height: 100px; 
	   float: left;border: none; font-weight:bold;  
	   background: none;font-size: 14px;
}

.main-title{
	font-size: 16px; font-weight: bolder;
}
#logo { text-align: right; 
	float: right; position: relative; 
	margin-top: -100px; border: 1px solid #fff;  
	overflow: hidden; }

.customer-title { font-size:16px; font-weight:bold; 
		  float: left; width:auto; height:auto; 
		  border: none; background: none;
}
#customer-name { font-size:14px; font-weight:bold; 
		 float: left; 
		 width: 350px; height:auto; border:none; 
		 background:none;}

#meta { margin-top:10px; margin-bottom:30px; width: 300px; 
	float: right; border-collapse: collapse;  
	  font-size:14px; }
#meta td { text-align: right; right:5px;
	  border: 1px solid black; padding:5px;
}
#meta td.meta-head { text-align: left; 
	    background-color: #eee; 
	    font-weight: bold; 
	    }
#meta td textarea { width: 99%; height: 15px; 
	      text-align: right; border: none;  
	      background: none;padding: 0px;}

#items { clear: both; width:100%; 
	 margin:20px 0 0 0; border: 1px solid black;
	 border-collapse: collapse; font-size:14px; }

#items th { background: #eee;  border: 1px solid black; 
     border-collapse: collapse; }
#items textarea { width: 99%; height:
		    14px;text-align: center; font-weight:normal;
		  border:none; padding: 0px; background: none; color: black;}
#items tr.item-row td { border: 1px solid black; 
	      vertical-align: top; height: 20px;font-weight: bold;
	      border-collapse: collapse; color: black; font-size:14px;padding:5px;}
#items td.description { width: 200px; }
#items td.item-name { width: 100px; }
#items td.cost { width: 200px; }
#items td.quantity { width: 60px; }
#items td.description textarea, #items td.item-name textarea { width:auto;  background: none; height: 17px;}
#items td.total-line { border-right: 0;font-size: 14px;
	     font-weight:bold; text-align: right;border: 1px solid; 
	     border-collapse: collapse; background: #eee;}

#items td.total-value textarea { height: 14px; background: none; 
		       text-align: left; width:90%;
			font-size: 14px;padding: 0px;
		  }

#items tr td.total-value {border: 1px solid; border-collapse: collapse; color: black; padding:5px;}
#items td.balance { background: #eee;color: black; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 5px 0 0 0; }
#terms p {font-size: 14px; line-height: 2px;}
#terms h5 { text-transform: uppercase; font: 14px Helvetica, Sans-Serif; letter-spacing: 14px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
.delete-wpr { position: relative; }
.delete { display:none;}
.invoice_button{display: none;}
.jqm-footer{display: none;}
//end of invice codes

.report_button{display:none;}
#hiderow{column-width:1px; height: 5px;}
#hiderow td{height: 5px;display: block;}

#hiderow_1{display: none; height:5px;}


th.blank_1{ border: 0; }
.new-job-footer{ border-right: 0;font-size: 14px; font-weight:bold; text-align: center;
	     border: 1px solid; border-collapse: collapse; background: #eee;}
#items th.small-th{width:20px;}

#items tr.item-row1 td { border: 1px solid black; 
	      vertical-align: top; border-collapse: collapse;
	      text-align: left;margin-top:4px;padding:5px;}

#meta td.meta-head1 { text-align: center; width: 100px;
	    background: #eee; font-weight: bold; }



//codes for job card print
#logo_norman { text-align: right; 
	float: right; position: relative; 
	margin-top: 10px; border: 1px solid #fff;  
	overflow: hidden; }
#logo_carrier { text-align: left; 
	float: left; position: relative; 
	margin-top: 10px; border: 1px solid #fff;border: none;  
	overflow: hidden;  }

#address_job_card { text-align:center;float: left; 
	   width: 480px; height: 90px; 
	   font-size: 10px; border: 1px solid red;border: none;
	   font-weight: bold; margin:-60px auto auto 125px;
	   background: none; }


#meta_right { margin-top: 1px; width: 300px; 
	float: right; border-collapse: collapse;
	margin: 0 0 50px 0 }
#meta_right td { text-align: right; right:5px;
	  border: 1px solid black;}
#meta_right td.meta-head1 { text-align: left; 
	    background: #eee; font-weight: bold; }

#meta_block_left{
  border: 1px solid black;
  width: 400px; height: 80px;
  line-height: 10px;
  font-size: 10px;
  font-weight: normal;
  padding: 4px; text-align: center;
  float: left;
}
#terms h5{
  margin: 30px 0 30px 0;
}
#footer_block_left{
  border: 1px solid black;
  width: 48%; height: 100px;
  line-height: 10px;
  font-size: 10px;
  font-weight: normal;
  padding: 4px; text-align: center;
  float: left;
  overflow: hidden;
}

#footer_block_right{
  border: 1px solid black;
  width: 48%; height: 100px;
  line-height: 10px;
  font-size: 10px;
  font-weight: normal;
  padding: 4px; text-align: center;
  float: right;
  overflow: hidden;
}

//end of codes for job card print



